.tcontainer {
    /* width: 100%; */
    /* overflow: hidden; */
    /* position: fixed; */
    padding-right: 100% !important;
    padding-left: 100% !important;
}

.ticker-wrap {
    /* width: 100%; */
    padding-left: 100%;
    background-color: rgba(238, 238, 238, 0.171);
    color: #fff;

}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 50s;
}

.ticker-move:hover {
    animation-play-state: paused;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.ticker-item {
    display: inline-block;
    padding: 5px 40px 7px 9px;
    font-size: 20px;
}





  
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; color: "white";}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(255, 253, 253);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
.w3-image {
    max-width: 29%;
    height: auto;
}
body {
    font-family: 'Playfair Display', serif  !important;
    font-size: 14px !important;
  }
.asdas{
        font-family: -"Montserrat", sans-serif,bold, italic
}
body {
    background-image: url(photo-1517999144091-3d9dca6d1e43.jfif);
}
.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
    color: #fff4f4!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white !important;
}
.w3-xlarge {
    font-size: 37px!important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 2px !important;
    margin-right: auto;
    margin-left: auto;
    font-family: "Montserrat", sans-serif;
    background: transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 112px;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 15px 112px;
}
.navbar {
    position: fixed !important;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.hello {
    background-image:url(photo-1536532184021-da5392b55da1.jfif) !important;
}
.boxses{
    opacity: 100%;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bg-image {
    /* The image used */
    background-image: url("nicepic.jfif");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
@media only screen and (max-width: 600px) {#main {margin-left: 0}}

  #myBtn {
    display: none;
    position: fixed;
    bottom: 59px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 28px;
  }
  
    #myBtn:hover {
        background-color: #555;
    }



    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
      background-color: #555;
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 23px;
      right: 28px;
      width: 280px;
    }
    
    /* The popup form - hidden by default */
    .form-popup {
      display: none;
      position: fixed;
      bottom: 0;
      right: 15px;
      border: 3px solid transparent;
      z-index: 9;
    }
    
    /* Add styles to the form container */
    .form-container {
      max-width: 300px;
      padding: 10px 16px 20px 5px;
      background-color: rgb(35 36 38);
    }
    
    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background-color: white;
    }
    
    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: white;
      outline: none;
    }
    
    /* Set a style for the submit/login button */
    .form-container .btn {
      background-color: rgb(28 29 31);
      color: white;
      padding: 16px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }
    
    /* Add a red background color to the cancel button */
    .form-container .cancel {
      background-color: rgb(28 29 31);
    }
    
    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }
    b, strong {
        color: white;
    }









    