body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif; color: "white";}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: rgb(255, 253, 253);}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
.w3-image {
    max-width: 29%;
    height: auto;
}
.asdas{
        font-family: -"Montserrat", sans-serif,bold, italic
}
body {
    background-image: url(photo-1517999144091-3d9dca6d1e43.jfif);
}
.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
    color: #fff4f4!important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: white !important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white;
}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Montserrat", sans-serif;
    background: transparent;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 112px;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 15px 112px;
}
.navbar {
    position: fixed !important;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.hello {
    background-image:url(photo-1536532184021-da5392b55da1.jfif) !important;
}
.boxses{
    opacity: 100%;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bg-image {
    /* The image used */
    background-image: url("nicepic.jfif");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
